@charset "UTF-8";
body {
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainUnit {
  max-width: 1069px;
  width: 100%;
  height: 844px;
  margin-left: 70px;
  margin-top: 20px;
}

.mainUnit header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1068px;
  width: 100%;
  height: 44px;
}

.mainUnit header .newTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  width: 186px;
  height: 42px;
  background-color: #29a19c;
}

.mainUnit header .newTask .cross {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.mainUnit header .newTask .crossP {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}

.mainUnit header .Times_of_Day {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.mainUnit header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 294px;
  height: 44px;
}

.mainUnit header .user .userName {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #282846;
}

.mainUnit header .user .userImg {
  width: 44px;
  height: 44px;
}

.mainUnit header .user .JackdawSpn {
  width: 24px;
  height: 24px;
}

.mainUnit .tasksMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainUnit .tasksMain .tasks {
  max-width: 566px;
  width: 100%;
  margin-top: 30px;
}

.mainUnit .tasksMain .tasks .successes {
  max-width: 566px;
  width: 100%;
  height: 211px;
  text-align: -webkit-center;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
          box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
}

.mainUnit .tasksMain .tasks .successes .successestitleHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 529px;
  width: 100%;
  height: 25px;
  padding-top: 20px;
}

.mainUnit .tasksMain .tasks .successes .successestitleHeader .successesTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #29a19c;
  margin: 0;
}

.mainUnit .tasksMain .tasks .successes .successestitleHeader .ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
}

.mainUnit .tasksMain .tasks .successes .successestitleHeader .ellipsis .ellipsisSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6px;
  height: 6px;
  background: #282846;
  border-radius: 50px;
}

.mainUnit .tasksMain .tasks .successes .taskBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 529px;
  width: 100%;
  height: 126px;
  margin-top: 5px;
}

.mainUnit .tasksMain .tasks .successes .taskBoard .taskBoard_1 .taskBoardP {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #282846;
}

.mainUnit .tasksMain .tasks .successes .taskBoard .taskBoard_1 .rangeOfTasks {
  border: 1px solid #29a19c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 200px;
  background: #ffffff;
  width: 100px;
  height: 100px;
}

.mainUnit .tasksMain .tasks .successes .taskBoard .taskBoard_1 .rangeOfTasks .meaning {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #29a19c;
  margin-top: 12px;
}

.mainUnit .tasksMain .tasks .activeTasks {
  max-width: 566px;
  width: 100%;
  height: 482px;
  text-align: -webkit-center;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
          box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  border-radius: 10px;
}

.mainUnit .tasksMain .tasks .activeTasks .successestitleHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 529px;
  width: 100%;
  height: 25px;
  padding-top: 20px;
}

.mainUnit .tasksMain .tasks .activeTasks .successestitleHeader .successesTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #29a19c;
  margin: 0;
}

.mainUnit .tasksMain .tasks .activeTasks .successestitleHeader .ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
}

.mainUnit .tasksMain .tasks .activeTasks .successestitleHeader .ellipsis .ellipsisSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6px;
  height: 6px;
  background: #282846;
  border-radius: 50px;
}

.mainUnit .tasksMain .tasks .activeTasks .checkСontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 526px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background: rgba(41, 161, 156, 0.02);
  border: 1px solid rgba(40, 40, 70, 0.1);
  border-radius: 10px;
}

.mainUnit .tasksMain .tasks .activeTasks .checkСontainer .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.mainUnit .tasksMain .tasks .activeTasks .checkСontainer .check .checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #29a19c;
}

.mainUnit .tasksMain .tasks .activeTasks .checkСontainer .check .checkP {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #282846;
  margin-left: 10px;
}

.mainUnit .tasksMain .tasks .activeTasks .checkСontainer .removal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 46px;
  width: 100%;
  margin-right: 15px;
}

.mainUnit .tasksMain .tasks .activeTasks .checkСontainer .removal .removalImg {
  width: 18px;
  height: 18px;
}

.mainUnit .tasksMain .infoSection {
  width: 473px;
  height: 770px;
  margin-top: 30px;
}

.mainUnit .tasksMain .infoSection .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  width: 473px;
  -webkit-box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
          box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  border-radius: 10px;
  height: 143px;
}

.mainUnit .tasksMain .infoSection .time .timeP {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #29a19c;
  width: 425px;
}

.mainUnit .tasksMain .infoSection .time .timeData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 425px;
  height: 58px;
}

.mainUnit .tasksMain .infoSection .time .timeData .timeDataBlock .timeDataP {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0;
  color: #282846;
}

.mainUnit .tasksMain .infoSection .time .timeData .timeDataBlock .timeClock {
  vertical-align: sub;
  width: 24px;
  height: 24px;
}

.mainUnit .tasksMain .infoSection .time .timeData .timeDataBlock .timeSpan {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #282846;
}

.mainUnit .tasksMain .infoSection .containerObservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  background: #ffffff;
  width: 473px;
  -webkit-box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
          box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
  border-radius: 10px;
  width: 472px;
  height: 133px;
}

.mainUnit .tasksMain .infoSection .containerObservation .observation {
  width: 432px;
}

.mainUnit .tasksMain .infoSection .containerObservation .observation .observationP {
  width: 432px;
  height: 25px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #29a19c;
}

.mainUnit .tasksMain .infoSection .containerObservation .observation .observationText .observationTextP {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #282846;
}

.mainUnit .tasksMain .infoSection .addition {
  width: 472px;
  height: 256px;
}
/*# sourceMappingURL=mainPage.css.map */