body {
    background: #fafafa;
    display: flex;
    justify-content: center;
    transition: 2s linear;
}

@mixin successestitleHeader {
    display: flex;
    justify-content: space-between;
    max-width: 529px;
    width: 100%;
    height: 25px;
    padding-top: 20px;
}
@mixin successesTitle {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #29a19c;
    margin: 0;
}

@mixin ellipsis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 28px;
}
@mixin ellipsisSpan {
    display: flex;
    justify-content: space-between;
    width: 6px;
    height: 6px;
    background-color: #282846;
    border-radius: 50px;
}
@mixin timeMix {
    background: #ffffff;
    width: 473px;
    box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
    border-radius: 10px;
}

.mainUnit {
    max-width: 1069px;
    width: 100%;
    height: 844px;
    margin-left: 70px;
    margin-top: 20px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1068px;
        width: 100%;
        height: 44px;
        transition: 1s linear;

        .newTask {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            width: 186px;
            height: 42px;
            background-color: #29a19c;
            cursor: pointer;

            .cross {
                margin-right: 10px;
                width: 18px;
                height: 18px;
            }
            .crossP {
                font-family: Nunito;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #fafafa;
            }
        }
        .Times_of_Day {
            width: 24px;
            height: 24px;
            opacity: 0.7;
        }
        .user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 294px;
            height: 44px;

            .userName {
                font-family: Nunito;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #282846;
            }
            .userImg {
                width: 44px;
                height: 44px;
            }

            .JackdawSpn {
                width: 24px;
                height: 24px;
            }
        }
    }
    .tasksMain {
        display: flex;
        justify-content: space-between;
    }
    .modal {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        margin-left: -350px;
        top: 50%;
        margin-top: -175px;
        z-index: 5;
        width: 700px;
        height: 350px;
        background: #ffffff;
        box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
        border-radius: 10px;
        margin-bottom: 30px;
        transition: 2s linear;

        .modalTask {
            display: flex;
            width: 660px;
            height: 28px;
            margin: 20px 0px 30px 0px;
            .modalH1 {
                font-family: "Nunito";
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
                letter-spacing: 0.02em;
                color: #29a19c;
                margin: 0;
            }
            .modalSelect {
                width: 151px;
                height: 28px;
                border: 1px solid rgba(40, 40, 70, 0.2);
                box-sizing: border-box;
                border-radius: 6px;
                margin-left: 20px;
                font-family: "Nunito";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #000000;
                opacity: 0.5;
            }
        }
        .addModalTask {
            width: 660px;
            height: 66px;
            margin-bottom: 30px;
            .addModalTaskH2 {
                font-family: "Nunito";
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                color: #282846;
            }
            .addModalTaskInput {
                width: 660px;
                height: 35px;
                border: 1px solid rgba(40, 40, 70, 0.1);
                box-sizing: border-box;
                border-radius: 8px;
                font-family: "Nunito";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #000000;
                padding-left: 20px;
            }
            .addModalTaskСategory {
                width: 200px;
                height: 64px;
                .addModalTaskInput {
                    width: 200px;
                    height: 35px;
                    border: 1px solid rgba(40, 40, 70, 0.1);
                    box-sizing: border-box;
                    border-radius: 8px;
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    color: #000000;
                    opacity: 0.5;
                }
            }
        }
        .addModalTaskButton {
            width: 660px;
            height: 64px;
            position: relative;
            .Cancel {
                background: #f05454;
                border-radius: 8px;
                padding: 10px 25px;
                border: none;
                font-family: "Nunito";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #fafafa;
                position: absolute;
                top: 34%;
                cursor: pointer;
            }
            .Save {
                font-family: "Nunito";
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #29a19c;
                border: 1px solid #29a19c;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 10px 25px;
                position: absolute;
                top: 32%;
                left: 44%;
                cursor: pointer;
            }
        }
        .Add {
            background: #29a19c;
            border-radius: 8px;
            padding: 10px 25px;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #fafafa;
            border: none;
            position: absolute;
            top: 36%;
            left: 81%;
            cursor: pointer;
        }
    }
    .addModalTaskDisplay {
        display: flex;
        justify-content: space-between;
    }
    .modalNextClass {
        border: 3px solid white;
    }

    .tasks {
        max-width: 566px;
        width: 100%;
        margin-top: 30px;

        .successes {
            max-width: 566px;
            width: 100%;
            height: 211px;
            text-align: -webkit-center;
            background: #ffffff;
            box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
            border-radius: 10px;
            margin-bottom: 30px;
            transition: 2s linear;

            .successestitleHeader {
                @include successestitleHeader;
                .successesTitle {
                    @include successesTitle;
                }
                .ellipsis {
                    @include ellipsis;
                    .ellipsisSpan {
                        @include ellipsisSpan;
                    }
                }
            }
            .taskBoard {
                display: flex;
                justify-content: space-between;
                max-width: 529px;
                width: 100%;
                height: 126px;
                margin-top: 5px;
                .taskBoard_1 {
                    .taskBoardP {
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        color: #282846;
                    }
                    .rangeOfTasks {
                        border: 1px solid #29a19c;
                        box-sizing: border-box;
                        border-radius: 200px;
                        background: #ffffff;
                        width: 100px;
                        height: 100px;
                        transition: 2s linear;
                        .meaning {
                            font-family: Nunito;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 36px;
                            line-height: 49px;
                            color: #29a19c;
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
        .activeTasks {
            max-width: 566px;
            width: 100%;
            height: 482px;
            transition: 2s linear;
            text-align: -webkit-center;
            background: #ffffff;
            box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
            border-radius: 10px;
            .successestitleHeader {
                @include successestitleHeader;
                .successesTitle {
                    @include successesTitle;
                }
                .ellipsis {
                    @include ellipsis;
                    .ellipsisSpan {
                        @include ellipsisSpan;
                    }
                }
            }

            .checkСontainer {
                display: flex;
                justify-content: space-between;
                max-width: 526px;
                width: 100%;
                height: 50px;
                margin: 10px 0;
                background: rgba(155 233 230 / 85%);
                border: 1px solid rgba(40, 40, 70, 0.1);
                border-radius: 10px;
                cursor: pointer;
                .check {
                    display: flex;
                    align-items: center;
                    margin-left: 15px;

                    .checkbox {
                        display: none;
                        width: 20px;
                        height: 20px;
                        border: 1px solid #29a19c;
                    }
                    .checkP {
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 19px;
                        color: #282846;
                        margin-left: 10px;
                    }
                }
                .removal {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    max-width: 46px;
                    width: 100%;
                    margin-right: 15px;

                    .removalImg {
                        display: none;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
    .infoSection {
        width: 473px;
        height: 770px;
        margin-top: 30px;
        .time {
            display: flex;
            transition: 2s linear;
            flex-direction: column;
            align-items: center;
            @include timeMix;
            height: 143px;
            .timeP {
                font-family: Nunito;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: #29a19c;
                width: 425px;
            }
            .timeData {
                display: flex;
                justify-content: space-between;
                width: 425px;
                height: 58px;
                .timeDataBlock {
                    .timeDataP {
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 0;
                        color: #282846;
                    }
                    .timeClock {
                        vertical-align: sub;
                        width: 24px;
                        height: 24px;
                    }
                    .timeSpan {
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 25px;
                        line-height: 34px;
                        color: #282846;
                    }
                }
            }
        }
        .containerObservation {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            @include timeMix;
            width: 472px;
            height: 133px;
            transition: 2s linear;
            .observation {
                width: 432px;
                .observationP {
                    width: 432px;
                    height: 25px;
                    font-family: Nunito;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;
                    color: #29a19c;
                }
                .observationText {
                    .observationTextP {
                        font-family: Nunito;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 19px;
                        color: #282846;
                    }
                }
            }
        }
        .addition {
            width: 472px;
            height: 256px;
        }
    }
}

.modalStyle {
    position: absolute;
    width: 0;
    height: 99%;
    z-index: 2;
    opacity: 0.8;
    transition: 0.8s linear;
}
#checkСontainer {
    min-height: 200px;
}
.removNone {
    display: block;
}
