body {
  background: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainUnit {
  max-width: 1069px;
  width: 100%;
  height: 844px;
  border: 1px solid blue;
  margin-left: 70px;
  margin-top: 20px;
}

.mainUnit header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1068px;
  width: 100%;
  height: 44px;
  border: 1px solid red;
}

.mainUnit header .newTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  width: 186px;
  height: 42px;
  background-color: #29a19c;
}

.mainUnit header .newTask .cross {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.mainUnit header .newTask .crossP {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fafafa;
}

.mainUnit header .Times_of_Day {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.mainUnit header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 294px;
  height: 44px;
}

.mainUnit header .user .userName {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #282846;
}

.mainUnit header .user .userImg {
  width: 44px;
  height: 44px;
}

.mainUnit header .user .JackdawSpn {
  width: 24px;
  height: 24px;
}

.mainUnit .tasks {
  max-width: 566px;
  width: 100%;
  height: 715px;
  margin-top: 30px;
  border: 1px solid #09ff00;
}

.mainUnit .tasks .successes {
  max-width: 566px;
  width: 100%;
  height: 211px;
  text-align: -webkit-center;
}

.mainUnit .tasks .successes .successestitleHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 529px;
  width: 100%;
  height: 25px;
  margin-top: 20px;
}

.mainUnit .tasks .successes .successestitleHeader .successesTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #29a19c;
  margin: 0;
}

.mainUnit .tasks .successes .successestitleHeader .ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
}

.mainUnit .tasks .successes .successestitleHeader .ellipsis .ellipsisSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6px;
  height: 6px;
  background: #282846;
  border-radius: 50px;
}

.mainUnit .tasks .successes .taskBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 529px;
  width: 100%;
  height: 126px;
  margin-top: 5px;
}

.mainUnit .tasks .successes .taskBoard .taskBoard_1 .taskBoardP {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #282846;
}

.mainUnit .tasks .successes .taskBoard .taskBoard_1 .rangeOfTasks {
  border: 1px solid #29a19c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 200px;
  background: #ffffff;
  width: 100px;
  height: 100px;
}

.mainUnit .tasks .successes .taskBoard .taskBoard_1 .rangeOfTasks .meaning {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #29a19c;
  margin-top: 12px;
}

.mainUnit .tasks .activeTasks {
  max-width: 566px;
  width: 100%;
  height: 474px;
  border: 1px solid #20302f;
}

.mainUnit .tasks .activeTasks .successestitleHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 529px;
  width: 100%;
  height: 25px;
  margin-top: 20px;
}

.mainUnit .tasks .activeTasks .successestitleHeader .successesTitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #29a19c;
  margin: 0;
}

.mainUnit .tasks .activeTasks .successestitleHeader .ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
}

.mainUnit .tasks .activeTasks .successestitleHeader .ellipsis .ellipsisSpan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6px;
  height: 6px;
  background: #282846;
  border-radius: 50px;
}
/*# sourceMappingURL=mainPage.css.map */